.show-result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 17px;
  height: 100%;

  #dir-container {
    width: 100%;
  }
  .coord-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    p {
      width: auto;
    }
  }

  p {
    height: auto;
    height: 21px;
    width: 100%;
  }
  .p-variable {
    max-width: 220px;
  }
  .p-campo {
    font-weight: 500;
  }
}
