.text-danger {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    input {
      width: 300px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px;
      margin-top: 5px;
    }
  }
}

app-show-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
